NODE_ENV=production
PORT=10000
DB_HOST=dpg-d72gpbu3jp1c73ef3cu0-a
DB_PORT=5432
DB_NAME=risanth
DB_USER=risanth_user
DB_PASSWORD=lHudtZYNyQgWPu3C5zUszM7EDlpnEtjx
JWT_SECRET=super_secure_random_string
JWT_EXPIRE=7d
FRONTEND_URL=http://localhost:3000
